@model DateTimeExtensions.Sample.Models.HowLongToViewModel
<ul>
	<li><span>Rounded: </span> @Model.HowLongHumanRounded</li>
	<li><span>Most Significant Part: </span> @Model.HowLongHuman</li>
	<li><span>Exact Time: </span> @Model.HowLongExact</li>
</ul>
