<div>
	<span>Your current locale:</span> <span id="currentLocale">@ViewBag.Locale</span>
	<div id="selectLocalePlaceHolder"></div>
</div>
<script type="text/javascript">
   Globalize.culture('@ViewBag.Locale');
    $("#selectLocalePlaceHolder").load("@Url.Action("SelectLocale")", function() {
        $("#selectLocalePlaceHolder").dialog({
            title: "Select a Locale",
            modal: true,
            autoOpen: false,
            width: "auto",
            height: "auto",
            position: "center",
            resizable: false
        });
    });

    $("#currentLocale").click(function() {
        $("#selectLocalePlaceHolder").dialog("open");
        return false;
    });
</script>