@model IEnumerable<DateTimeExtensions.Sample.Models.SelectLocaleViewModel>
<table class="table-short">
	<thead>
		<tr>
			<td>Locale</td>
			<td>Holidays</td>
			<td>Natural Text</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var locale in Model) {
			<tr>
				<td><a href="javascript:changeLocale('@locale.LocaleName')" onclick="">@locale.LocaleName</a></td>
				<td>@locale.HasHolidays</td>
				<td>@locale.HasNaturalText</td>
			</tr>
		}
	</tbody>
</table>
<script type="text/javascript">
    $("table > tbody tr:odd").addClass("odd");

    function changeLocale(locale) {
        var currentUrl = window.location.href;
        if (currentUrl.indexOf("?") > 0) {
            window.location = currentUrl + "&changeCulture=" + locale;
        } else {
            window.location = currentUrl + "?changeCulture=" + locale;
        }
    }
</script>