@model IEnumerable<DateTimeExtensions.Sample.Models.SelectLocaleViewModel>
<table class="table-short">
	<thead>
		<tr>
			<td>Locale</td>
			<td>Holidays</td>
			<td>Natural Text</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var locale in Model) {
		<tr class="odd">
			<td>@Html.ActionLink(locale.LocaleName, "SetLocale", new { localeName = locale.LocaleName })</td>
			<td>@locale.HasHolidays</td>
			<td>@locale.HasNaturalText</td>
		</tr>
        }
	</tbody>
</table>