@{
    ViewBag.Title = "Api Documentation";
}

<div class="box">
	<h4>HolidayObservances</h4>
	<div class="box-container">
		<div class="api-description">
			<p>Returns a list of holidays for a specific locale and year</p>
		</div>
		<div class="api-url">/Api/HolidayObservances/{locale}/{year}</div>
		<p>Params:</p>
        <div class="api-params">
			<ul>
				<li><span>locale</span> - The locale of the holidays</li>
				<li><span>year</span> - The year when the holidays are observed</li>
			</ul>
        </div>
	</div>
</div>
