@{
    ViewBag.Title = "Api Documentation";
}

<div class="box">
	<h4>Holidays</h4>
	<div class="box-container">
		<p>Url: /Api/HolidayObservances/{locale}/{year}</p>
		<p>Returns a list of holidays</p>
		<p>Params:</p>
		<ul>
			<li>locale - </li>
            <li>year - </li>
		</ul>
	</div>
</div>
