<div>
    <table class="table-short" id="holidaysListing">
	    <thead>
		    <tr>
			    <td>Date</td>
			    <td>Name</td>
		    </tr>
	    </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script type="text/javascript">

    function getHolidaysObservances() {
        $.getJSON("Api/HolidayObservances/@ViewBag.Locale/@ViewBag.CurrentYear",
            function (data) {
                $('#holidaysListing > tbody').empty();
                $.each(data, function (key, val) {
                    var row = '<td>' + val.ObservanceDate + '</td><td>' + val.Name + '</td>';
                    $('<tr/>', { html: row })
                        .appendTo($('#holidaysListing > tbody'));
                });
                $("#holidaysListing > tbody tr:nth-child(odd)").addClass("odd");
            });
    }

    $(document).ready(getHolidaysObservances);

</script>