<div>
    <table class="table-short" id="holidaysListing">
	    <thead>
		    <tr>
			    <td>Date</td>
			    <td>Name</td>
		    </tr>
	    </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script type="text/javascript">

    function getHolidaysObservances() {
        $.getJSON("/Api/HolidayObservances/@ViewBag.Locale/@ViewBag.CurrentYear?language=@ViewBag.Locale",
            function (data) {
                Globalize.culture('@ViewBag.Locale');
                $('#holidaysListing > tbody').empty();
                $.each(data, function (key, val) {
                    var formattedDate = '';
                    if (val.ObservanceDate != null) {
                        var date = new Date(val.ObservanceDate);
                        formattedDate = Globalize.format(date, 'd');
                    }
                    var row = '<td>' + formattedDate + '</td><td>' + val.Name + '</td>';
                    $('<tr/>', { html: row })
                        .appendTo($('#holidaysListing > tbody'));
                });
                $("#holidaysListing > tbody tr:nth-child(odd)").addClass("odd");
            });
    }

    $(document).ready(getHolidaysObservances);

</script>