@model IDictionary<DateTimeExtensions.Holiday, string>

<div>
    <table class="table-short" id="holidaysListing">
	    <thead>
		    <tr>
			    <td>Date</td>
			    <td>Name</td>
		    </tr>
	    </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@(item.Value != null ? item.Value : "(not observed)")</td>
                    <td>@item.Key.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $("#holidaysListing > tbody tr:nth-child(odd)").addClass("odd");
</script>