@{
    ViewBag.Title = "Calendar";
}

<div class="box">
	<h4>My Year Calendar</h4>
	<div class="box-container">
        <div>
            @using(Html.BeginForm("Index", "Calendar", FormMethod.Post)) {
                @Html.Label("Select another year:")
                @Html.DropDownList("year", new SelectList(ViewBag.Years, ViewBag.CurrentYear))
                <input type="submit" value="Change Year" />
            }
        </div>
		<div>
			@Html.Action("YearCalendar", new { year = ViewBag.CurrentYear })
		</div>
        <span class="clearFix"></span>
        <div>
            @Html.Action("HolidaysList", new { year = ViewBag.CurrentYear })
        </div>
	</div>
</div>
